 <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <h1 class="display-1" id="burgerHeader">Eat Da Burger!</h1>
                <p class="lead" id="burgerLead">Create your burger. Then devour it!</p>
            </div>
          </div>
          
          <br>

           <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form class="form-inline" id="burgerForm">
                    <label class="sr-only" for="newBurger">Name your burger!</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="newBurger" placeholder="Name your Burger!">
                    <button type="submit" class="btn btn-dark mb-2"> Create! <i class="fas fa-hamburger"></i></button>
                  </form>
            </div>
          </div>
        </div>
      </div>

   <main> 
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <h5 class="card-header text-white bg-danger text-center">New Burgers:</h5>
                    <div class="card-body">
                      <ul>
                          {{#each burgers}}
                                {{#unless devoured}}
                                    <span> {{this.id}} - {{this.burger_name}} </span> 
                                    <button type="button" class="eatBurger btn btn-dark float-right"  data-id="{{this.id}}" data-newDevoured="{{devour}}"><i class="fas fa-utensils"></i></button>
                                    <hr>
                                {{/unless}}
                            {{/each}}
                      </ul>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-6">
                <div class="card">
                  <h5 class="card-header text-white bg-warning text-center">Burgers Devoured:</h5>
                    <div class="card-body">
                        <ul>
                            {{#each burgers}}
                                {{#if devoured}}
                                    <span> {{this.id}} - {{this.burger_name}} </span> 
                                    <button type="button" class="trashBurger btn btn-dark float-right" data-id="{{this.id}}" data-newDevoured="{{devour}}"><i class="far fa-trash-alt"></i></button>
                                    <hr>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
              </div>
          </div>
      </div>
</main> 